<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="display: none">{% block title %} {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script src="https://unpkg.com/sweetalert2@7.12.15/dist/sweetalert2.all.js"></script>


</head>
<body>
    
    <div id="topo">
        <div id="logo">
            <a href="{{url_for('index')}}"><img src="../static/imagens/logo2.png"  border="0"/></a>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="{{url_for('index')}}">Home</a></li>
                <li><a href="{{url_for('ranking')}}">Ranking de Fraudes</a></li>
                <li><a href="{{url_for('formulario')}}">Formulário</a></li>
                <li><a href="{{url_for('relatorio')}}">Relatório Estatístico</a></li>
                <li><a href="{{url_for('sobre')}}">Sobre</a></li>
            </ul>
        </nav>

<div id="menu-sanfona">
            <ul>
                 <li><a href="#"><img src="../static/imagens/menu.png" height="70" width="70" border="0"/></a>
                   <ul>
                     <li><a href="{{url_for('index')}}"><div id="teste">Home</div></a></li>
                     <li><a href="{{url_for('ranking')}}"><div id="teste">Ranking de Fraudes</div></a></li>
                     <li><a href="{{url_for('formulario')}}"><div id="teste">Formulário</div></a></li>
                     <li><a href="{{url_for('relatorio')}}"><div id="teste">Relatório Estatístico</div></a></li>
                     <li><a href="{{url_for('sobre')}}"><div id="teste">Sobre</div></a></li>
                   </ul>
                 </li>
             </ul>
        </div> <!-- fecha menu-sanfona -->

    </div><!--fecha topo -->


{% block content %} {% endblock %}


    <footer style="height: 370px">
        <div id="info">
            <p><b>Sobre nós</b></p>
            <p>Somos estudantes de <br>Engenharia da Computação da <br><a href="https://univesp.br/" target="_blank" ><img src="../static/imagens/univesp2.png" border="0" width="150"/></a></p>
        </div>

        <div id="links">
            <p><b>Principais Links</b></p><br><br>
            <a href="https://antifraudes.febraban.org.br/?gclid=EAIaIQobChMIu5rLhJLp8wIVS7LICh3sGQppEAAYAyAAEgLREfD_BwE" target="_blank">Dicas Anti-golpes</a><br>
            <a href="https://globoplay.globo.com/v/9867521/?s=0s" target="_blank">Reportagem sobre fraudes no Brasil</a><br>
            <a href="https://www.cnnbrasil.com.br/tudo-sobre/fraudes-bancarias/">Notícias sobre fraudes bancárias</a><br>
        </div>

    </footer><!--fecha rodape -->

    <!--Botão libras -->
     <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
          <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

</body>
</html>