{% extends 'base.html' %}

{% block content %}
    <div id="ranking">
        <h1>Relatório Estatístico</h1>
    </div><!--fecha ranking -->

    <div id="esquerdarelatorio">
        <p>A análise descritiva deste relatório baseia-se nas informações que foram coletadas durante
            o processo de pesquisa e se atualiza a cada envio do formulário.</p>
        <p>O gráfico representa em porcentagem a opinião das {{ COUNT }} pessoas que participaram da pesquisa, nas faixas etárias:
            de 18 a 27 anos ({{ ("%.2f" %dezoito) }}%), de 28 a 39 anos ({{ ("%.2f" %vinteoito) }}%), de 40 a 55 anos ({{ ("%.2f" %quarenta) }}%)
            e acima de 55 anos ({{ ("%.2f" %cinquenta) }}%), entre homens e mulheres.</p>
        <p>De acordo com essa mesma pesquisa, grande parte dos golpes são efetuados através de {{ meio_fraude }} ({{ ("%.2f" %porcentagem_fraude) }}%).
            E ainda temos relatos de golpes efetuados por SMS, e e-mail ou chamadas telefônicas.</p>
        <p> Após a análise dos dados, percebemos a necessidade de
            desenvolver a construção de site informativo e de fácil manuseio por todos os públicos.</p>
        <p>A melhor forma de representar um resultado é em um gráfico. Escolhemos o gráfico de setor,
             representa os dados percentuais. </p>
    </div>

        <div id="grafico">
            <a href="#"><img id ="grafico" src= "../static/imagens/diagrama-pizza.png" border="0"/></a>

        </div>

    </div><!--fecha ranking -->

{% endblock %}