{% extends 'base.html' %}

{% block content %}
    <div id="sobre">
        <h1>Sobre</h1>

        <p>Este site foi elaborado para atendimento a disciplina 
            Projeto Integrador dos cursos do Eixo Computação da Univesp.
        </p>
        <p><b>Alunos:</b></p>
        <p>Carlos Phelipe Tavares de Araújo</p>
        <p>Flávio Francisco Martins Borges</p>
        <p>Isabelle Christine Bertanha</p>
        <p>José Flávio da Cruz</p>
        <p>Leonardo Parra Vigo</p>
        <p>Monique Mendes</p>
        <p>Pedro Henrique Lopes Rufino</p>
        <p>Rosani Alice Messias Lopes</p>

        <p><b>Orientador: Renan Lima Baima</b></p>
        <p><b>Grupo: Mairinque 002</b><br>
            <a href="https://univesp.br/" target="_blank" ><img src="../static/imagens/univesp.png" border="0" width="150"/></a>
        </p>
        

    </div><!--fecha sobre -->

{% endblock %}

</body>
</html>